$containers: primary, secondary, tertiary;

$threshold: 68%;

$base-background-colors: (
    primary: #E91E63,
    secondary: #CDDC39,
    tertiary: #536DFE
);

$dark-text-color: #333;
$light-text-color: #fff;

$base-font-size: 1.25rem;

$font-family: "Helvetica Neue", "Helvetica";

$base-corner-radius: 5px;